{% macro render_nav_items(items) %}
  <li><a href="{{ config.base_url }}" class="hover-underline-animation">Home</a></li>
  <li><a href="{{ get_url(path='tag/top') }}" class="hover-underline-animation">Top</a></li>
  {% for item in items %}
    <li><a href="{{ get_url(path=item.path) }}" class="hover-underline-animation">{{ item.name }}</a></li>
  {% endfor %}
  <li><a href="{{ get_url(path='archive') }}" class="hover-underline-animation">Archive</a></li>
  <li><a href="{{ get_url(path='tags') }}" class="hover-underline-animation">Tags</a></li>
{% endmacro render_nav_items %}
