{% extends "base.html" %}

{% block title %}Tags | {{ config.title }}{% endblock title %}

{% block content %}
  <main class="page-content container">
    <div class="tag-cloud" aria-label="All tags">
      {% for tag in page.extra.tag_cloud %}
        <a
          href="{{ get_url(path='tag/' ~ tag.slug) }}"
          class="tag-cloud-link tag-cloud-weight-{{ tag.weight }}"
          aria-label="{{ tag.name }}: {{ tag.count }} posts"
        >
          {{ tag.name }}
        </a>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
